# Data Cleaning

## Imports
---

In [226]:
import numpy as np
import pandas as pd

from datetime import date
from datetime import datetime

## Training Data
---

In [307]:
# reading in the training data
train = pd.read_csv('../data/train.csv')

In [308]:
# making column names lower case
train.columns = np.array([col.lower() for col in train.columns])

In [309]:
# dropping exact duplicates
train = train.drop_duplicates()

In [310]:
# converting date to datetime
train['date'] = pd.to_datetime(train['date'])

In [311]:
# creating columns based on date
train['year'] = train['date'].apply(lambda x: x.year)
train['month'] = train['date'].apply(lambda x: x.month)
train['week'] = train['date'].apply(lambda x: x.week)
train['dayofweek'] = train['date'].apply(lambda x: x.dayofweek)

In [305]:
# change dataset index to be by date and sort it from earliest to latest
train.set_index('date', inplace=True)
train.sort_index(inplace=True)

In [327]:
# save to file
train.to_csv('../data/train_clean.csv')

### Preliminary EDA

In [412]:
# prints the occurrence rate of West Nile Virus based on 'wvvpreset' column
print(f"The occurrence rate of West Nile Virus in the training data is {round(train['wnvpresent'].value_counts()[1] / train.shape[0] * 100, 2)}%.")

The occurrence rate of West Nile Virus in the training data is 5.19%.

- Occurrence rate of target class (West Nile Virus occurring) is really low

In [349]:
# displays the proportion of each unique value in test['species']
train['species'].value_counts(normalize=True)

CULEX PIPIENS/RESTUANS    0.461054
CULEX RESTUANS            0.275663
CULEX PIPIENS             0.230991
CULEX TERRITANS           0.022800
CULEX SALINARIUS          0.008769
CULEX TARSALIS            0.000619
CULEX ERRATICUS           0.000103
Name: species, dtype: float64

- Majority of species are `CULEX PIPIENS/RESTUANS`, `CULEX RESTUANS`, `CULEX PIPIENS` taking up ~97%
- The other four species of `CULEX TERRITANS`, `CULEX SALINARIUS`, `CULEX TARSALIS`, and `CULEX ERRATICUS` comprise the remaining 3%

## Testing data
---

In [340]:
# reading in the testing data
test = pd.read_csv('../data/test.csv')

In [341]:
# making column names lower case
test.columns = np.array([col.lower() for col in test.columns])

In [344]:
# dropping exact duplicates
test = test.drop_duplicates()

In [351]:
# converting date to datetime
test['date'] = pd.to_datetime(test['date'])

In [352]:
# creating columns based on date
test['year'] = test['date'].apply(lambda x: x.year)
test['month'] = test['date'].apply(lambda x: x.month)
test['week'] = test['date'].apply(lambda x: x.week)
test['dayofweek'] = test['date'].apply(lambda x: x.dayofweek)

In [359]:
# dropping unnecessary column 'id'
test.drop(columns='id', inplace=True)

In [361]:
# change dataset index to be by date and sort it from earliest to latest
test.set_index('date', inplace=True)
test.sort_index(inplace=True)

In [363]:
# save to file
test.to_csv('../data/test_clean.csv')

### Preliminary EDA

In [365]:
# displays the proportion of each unique value in test['species']
test['species'].value_counts(normalize=True)

CULEX PIPIENS/RESTUANS    0.132072
CULEX RESTUANS            0.126147
CULEX PIPIENS             0.124866
CULEX SALINARIUS          0.123438
CULEX TERRITANS           0.123404
CULEX TARSALIS            0.123369
UNSPECIFIED CULEX         0.123352
CULEX ERRATICUS           0.123352
Name: species, dtype: float64

-  Test data has an equal distribution of each species of mosquito

# Spraying data
---

In [374]:
# reading in the spraying data
spray = pd.read_csv('../data/spray.csv')

In [375]:
# making column names lower case
spray.columns = np.array([col.lower() for col in spray.columns])

In [376]:
# dropping exact duplicates
spray = spray.drop_duplicates()

In [380]:
# converting date to datetime
spray['date'] = pd.to_datetime(spray['date'])

In [381]:
# creating columns based on date
spray['year'] = spray['date'].apply(lambda x: x.year)
spray['month'] = spray['date'].apply(lambda x: x.month)
spray['week'] = spray['date'].apply(lambda x: x.week)
spray['dayofweek'] = spray['date'].apply(lambda x: x.dayofweek)

In [197]:
spray.isnull().sum()

date           0
time         584
latitude       0
longitude      0
dtype: int64

584 null values of `time` were discovered.

In [389]:
# display null rows
spray[spray['time']!=spray['time']]

           date time   latitude  longitude  year  month  week  dayofweek
1030 2011-09-07  NaN  41.987092 -87.794286  2011      9    36          2
1031 2011-09-07  NaN  41.987620 -87.794382  2011      9    36          2
1032 2011-09-07  NaN  41.988004 -87.794574  2011      9    36          2
1033 2011-09-07  NaN  41.988292 -87.795486  2011      9    36          2
1034 2011-09-07  NaN  41.988100 -87.796014  2011      9    36          2
...         ...  ...        ...        ...   ...    ...   ...        ...
1609 2011-09-07  NaN  41.995876 -87.811615  2011      9    36          2
1610 2011-09-07  NaN  41.995972 -87.810271  2011      9    36          2
1611 2011-09-07  NaN  41.995684 -87.810319  2011      9    36          2
1612 2011-09-07  NaN  41.994724 -87.810415  2011      9    36          2
1613 2011-09-07  NaN  41.993092 -87.810415  2011      9    36          2

[584 rows x 8 columns]

In [398]:
# checking the number of unique values of dates for the null value rows
spray[spray['time']!=spray['time']]['date'].value_counts()

2011-09-07    584
Name: date, dtype: int64

In [400]:
# checking the number of occurences of the date of our null values
spray[spray['date']== '2011-09-07'].shape[0]

1573

There are 584 null values for time on `2011-09-07` , more than a third of the total number of entries for that day.

The `time` column is not essential to our analysis as we only need to know on which day spraying occurred. As such, we will get rid of our null values by dropping the time column.

In [403]:
# Time not important, just the instance of spraying
spray = spray.drop(columns='time')

In [406]:
# change dataset index to be by date and sort it from earliest to latest
spray.set_index('date', inplace=True)
spray.sort_index(inplace=True)

In [ ]:
# save to file
spray.to_csv('../data/spray_clean.csv')